body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #0ba5dc, #CCDEE4);
}

header {
    height: 100px;
    text-align: center;
    align-content: center;
    margin: auto;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
}


article, aside {
    padding: 10px;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
}


iframe {
    width: 100%;
    max-width: 100%;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #0ba5dc;
    height: 100px;
    align-items: center;
}

@media screen and (max-width: 599px) {
    main {
        grid-template-columns: 1fr;
    }
}
